{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrder": [
    "^next",
    "^[a-z_\\-]+",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@contexts/(.*)$",
    "^@hooks/(.*)$",
    "^@apis/(.*)$",
    "^@types/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^~"
  ],
  "importOrderSortSpecifiers": true
}
