{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "^@",
    "^~",
    "^[a-z]",
    "^\\.\\.(?!/?$)",
    "^\\.\\./?$",
    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^\\./?$"
  ],
  "importOrderSortSpecifiers": true
}
